
<div ng-controller="MainCtrl" ng-init="resetInit()" style="padding-top: 60px">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand">Floor Construction : NAME</a>
      </div>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">List</li>
          <li><a href="#/workcenter">Work Centers</a></li>
          <li><a href="#/floor">Work Floors</a></li>
          <li class="nav-header">File - Floor</li>
          <li><a href="#/floor">Close</a></li>
          <li><a ng-click="save()">Save</a></li>
          <li><a ng-click="download()">Download</a></li>
          <li><a ng-click="delete()">Delete</a></li>
        </ul>
      </div>
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="">
            <a ng-click="addWorkCenter()">Add WorkCenter:</a>
            <select class="form-control input-sm" ng-model="addWorkCenterSelection">
              <option ng-repeat="workcenter in centerList" value="{{workcenter.id}}">{{workcenter.name}}</option>
            </select>
          </li>
          <li class="">
            <a ng-click="addProduct()">Add Product:</a>
            <select class="form-control input-sm">
              <option vale="foo">Foo</option>
            </select>
          </li>
        </ul>
      </div>

      <div class="well" ng-switch="displayed">
        <div ng-switch-when="product">
          <h3>Product</h3>
          <form class="form-horizontal" role="form">
            <label for="productName1">Name</label">
            <input type="text" class="form-control" id="productName1" ng-model="station.name" ng-disabled="true"/>
          </form>
        </div>
        <div ng-switch-when="editproduct">
          <h3>Product</h3>
          <form class="form-horizontal" role="form">
            <label for="productName1">Name</label">
            <input type="text" class="form-control" id="productName1" ng-model="editstation.name" ng-disabled="false"/>
            <button class="btn" ng-click="deleteSelectedStation()">DELETE</button>
          </form>
        </div>
        <div ng-switch-when="workcenter">
          <h3>Work Center</h3>
          <form class="form-horizontal" role="form">
            <label for="workcenterName1">Name</label>
            <input type="text" class="form-control" id="workcenterName1" ng-model="editstation.name" ng-disabled="true"/>
          </form>
        </div>
        <div ng-switch-when="editworkcenter">
          <h3>Work Center</h3>
          <form class="form-horizontal" role="form">
            <label for="workcenterName1">Name</label>
            <input type="text" class="form-control" id="workcenterName1" ng-model="editstation.name" ng-disabled="false"/>
            <button class="btn" ng-click="deleteSelectedStation()">DELETE</button>
          </form>
        </div>
        <div ng-switch-default>
          <h3>None Selected</h3>
        </div>
      </div>

    </div>

    <div class="span9">
      <div id="floor"></div>
    </div>

  </div>


</div>
