
<div ng-controller="MainCtrl" ng-init="resetInit()" style="padding-top: 80px">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand">Floor List</a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">List</li>
          <li><a href="#/workcenter">Work Centers</a></li>
          <li><a href="#/floor">Work Floors</a></li>
          <li><a href="#/run">Runs</a></li>
          <li class="nav-header">File</li>
          <li><a ng-click="newWorkFloor()">New Work Floor</a></li>
        </ul>
      </div>
    </div>
    <div class="span9" ng-switch on="floorList.length">
      <div class="nodata" ng-switch-when="0">
No data found!<br/>
Do you want to <a ng-click="loadSampleData()">load sample data</a>?
      </div>
      <table class="table table-striped" ng-switch-default>
        <thead><tr><th>#</th><th>Name</th><th>ID</th></tr></thead>
        <tbody>
          <tr ng-repeat="floor in floorList">
            <td>{{$index+1}}</td>
            <td><a href="#/floor/{{floor.id}}">{{floor.name}}</a></td>
            <td><a href="#/floor/{{floor.id}}">{{floor.id}}</a></td>
          </tr>
        </tbody>
      <table>
    </div>
  </div>

</div>
