
<div ng-controller="MainCtrl" ng-init="resetInit()" style="padding-top: 80px">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand">Floor Run : <input class="input-sm" type="text" id="Name1" ng-model="floorname" ng-disabled="true"/></a>
      </div>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">List</li>
          <li><a href="#/workcenter">Work Centers</a></li>
          <li><a href="#/floor">Work Floors</a></li>
          <li><a href="#/run">Runs</a></li>
          <li class="nav-header">File - Floor</li>
          <li><a href="#/run">Close</a></li>
          <li><a ng-click="save()">Save</a></li>
          <li><a ng-click="download()">Download</a></li>
          <li><a ng-click="delete()">Delete</a></li>
        </ul>
      </div>
      <div class="well">
        Step Info?
      </div>
    </div>

    <div class="span9">
Run Info?
    </div>

  </div>


</div>
