
<div ng-controller="RunCtrl" ng-init="resetInit()" style="padding-top: 80px">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand">Run List</a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">List</li>
          <li><a href="#/workcenter">Work Centers</a></li>
          <li><a href="#/floor">Work Floors</a></li>
          <li><a href="#/run">Runs</a></li>
          <li class="nav-header">File</li>
          <li><a ng-click="loadSampleData()">Load Sample Data</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <table class="table table-striped">
        <thead><tr><th>#</th><th>Name</th><th>ID</th></tr></thead>
        <tbody>
          <tr ng-repeat="run in runList">
            <td>{{$index+1}}</td>
            <td><a href="#/run/{{run.id}}">{{run.floorname}}({{run.starttime}})</a></td>
            <td><a href="#/run/{{run.id}}">{{run.id}}</a></td>
          </tr>
        </tbody>
      <table>
    </div>
  </div>

</div>
