
<div ng-controller="WorkCenterCtrl" ng-init="resetInit()" style="padding-top: 80px">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand">WorkCenter Construction : <input class="input-sm" type="text" id="Name1" ng-model="name"/></a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">List</li>
          <li><a href="#/workcenter">Work Centers</a></li>
          <li><a href="#/floor">Work Floors</a></li>
          <li class="nav-header">File - Work Center</li>
          <li><a href="#/workcenter">Close</a></li>
          <li><a ng-click="save()">Save</a></li>
          <li><a ng-click="download()">Download</a></li>
          <li><a ng-click="delete()">Delete</a></li>
        </ul>
      </div>
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class=""><a ng-click="addResource()">Add Resource</a></li>
          <li class=""><a ng-click="deleteResource()">Delete Resource</a></li>
        </ul>
      </div>
      <div class="well">
        <form class="form-horizontal" role="form">
          <label for="resourceName1">Name</label>
          <input type="text" class="form-control" id="resourceName1" ng-model="resource.name" ng-disabled="!selectedMode()"/>
          <br/>

          <label for="resourceType1">Type</label>
          <select class="form-control input-sm" ng-model="resource.type" ng-disabled="!selectedMode()">
            <option value="input">Input</option>
            <option value="output">Output</option>
            <option value="modified">Modified</option>
          </select>
          <br/>
          <label for="resourceMod1">Modification</label>
          <input type="text" class="form-control" id="resourceMod1" ng-model="resource.change" ng-disabled="!selectedMode() && (resource.type != 'modified')"/>
          <br/>
        </form>
      </div>
    </div>
    <div class="span9">
      <div id="workcenter"></div>
      <div id="steps" class="well">
        <ul>
          <li ng-repeat="step in steps">
            <div>
              <button class="btn btn-small" ng-click="moveUp($index)" ng-disabled="$index==0"><i class="icon-arrow-up"></i></button>
              <button class="btn btn-small" ng-click="moveDown($index)" ng-disabled="$index+1 == checklist.steps.length"><i class="icon-arrow-down"></i></button>
              <button class="btn btn-small" ng-click="deleteStep($index)"><i class="icon-trash"></i></button>
              <input style="width: 600px;" ng-model="step.text">
              <textarea type="text" style="width: 712px" ng-model="step.full"></textarea>
            </div>
          </li>
          <li>
            <div>
              <button class="btn btn-primary btn-small" ng-click="addStep()">Add New Step</button>
              <input placeholder="Short Description" style="width: 617px;" ng-model="newStep.text"/>
              <textarea placeholder="Full Description" style="width: 712px;" ng-model="newStep.full"></textarea>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
