<!doctype html>
<html lang="en" ng-app="kuihaoApp">
  <head>
    <title>Kuihao : Factory Floor Designer</title>
    <link rel="shortcut icon" href="about:blank">
    <style>
#floor {
  float: left;
}
#actions {
  float: left;
}
#workcenterinfo {
  float: left;
}
    </style>
  </head>
  <body ng-controller="MainCtrl">
    <div id="floor"></div>
    <div id="actions">
      <button ng-click="addWorkCenter()">Add Work Center</button>
      <button ng-click="addProduct()">Add Product</button>
    </div>
    <div id="workcenterinfo">{{info}}</div>
    <script src="raphael-min.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>

