<!doctype html>
<html lang="en" ng-app="kuihaoApp">
  <head>
    <title>Kuihao : Factory Floor Designer</title>
    <link rel="shortcut icon" href="about:blank">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
#floor {
  float: left;
}
#sidebar {
  float: left;
  width: 400px;
  padding: 5px;
}
    </style>
  </head>
  <body ng-controller="MainCtrl" ng-init="resetInit()">
    <h1>Procedure Layout</h1>
    <div id="floor"></div>
    <div id="sidebar" ng-switch="displayed">
      <button class="btn" style="width:100%;" ng-click="addWorkCenter()">Add Work Center</button><br/>
      <button class="btn" style="width:100%;" ng-click="addProduct()">Add Product</button><br/>
      {{displayed}}
      <div ng-switch-when="product">
        <h3 class="text-center">PRODUCT</h3>
        <label>Name</label>{{station.name}}<br/>
      </div>
      <div ng-switch-when="editproduct">
        <h3 class="text-center">PRODUCT</h3>
        <label>Name</label><input id="station-name" class="edit" ng-model="editstation.name"/><br/>
      </div>
      <div ng-switch-when="workcenter">
        <h3 class="text-center">WORKCENTER</h3>
        <span>Name</span>{{station.name}}<br/>
        <span>Inputs</span>{{station.inputs}}<br/>
        <span>Outputs</span>{{station.outputs}}<br/>
        <span>Machine</span>{{station.machine}}<br/>
        <span>Method</span>{{station.method}}<br/>
        <span>Man</span>{{station.man}}<br/>
        <span>Measure</span>{{station.measure}}<br/>
      </div>
      <div ng-switch-when="editworkcenter">
        <h3 class="text-center">WORKCENTER</h3>
        <span>Name</span><input id="station-name" class="edit" ng-model="editstation.name"/><br/>
        <span>Inputs</span><input id="station-inputs" class="edit" ng-model="editstation.inputs"/><br/>
        <span>Outputs</span><input id="station-outputs" class="edit" ng-model="editstation.outputs"/><br/>
        <span>Machine</span><input id="station-machine" class="edit" ng-model="editstation.machine"/><br/>
        <span>Method</span><input id="station-method" class="edit" ng-model="editstation.method"/><br/>
        <span>Man</span><input id="station-man" class="edit" ng-model="editstation.man"/><br/>
        <span>Measure</span><input id="station-measure" class="edit" ng-model="editstation.measure"/><br/>
      </div>
      <div ng-switch-default></div>
    </div>
    <script src="raphael-min.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>

